.section {
  margin: 0;
  background-color: rgb(203, 234, 255);
  position: relative;
  width: 100%;
  font-family: var(--portfolio-font-family);
  padding-top: 5%;
  color: var(--portfolio-text);
  text-align: center;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: row wrap;
  position: relative;
}

.bio {
  padding: 0 10% 0 7%;
  align-self: flex-start;
  text-align: left;
  font-size: var(--portfolio-base-text);
}

.skill_list{
  padding-left: 3%;
}
.skill_header{
  margin-left: -3%;
}

.skill_item {
  padding: 1% 1% 1% 0;
}

.name{
  font-size: var(--portfolio-xl-text);
}

.image {
  align-self: flex-end;
  padding-right: 7%;
}
