.section {
  background-color: var(--tcimpidis-brunch-with-friends);
  position: relative;
  height: 100%;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: row wrap;
  position: relative;
}

.bio {
  margin-top: 5%;
  padding-top: 10%;
}

.picture {
  margin-top: 5%;
  padding: 7% 2%  2% 15%;
  align-self: left;
  order:1;
}

@media only screen and (max-width: 900px) {
  .picture {
    visibility: hidden;
    transition: visibility 2s, opacity 0.5s linear;
  }
}
.slogan {
  font-family: var(--portfolio-font-family);
  font-size:  var(--portfolio-xl-text);
  padding: 5% 10% 0 5%;
  color:var(--tcimpidis-dusk-on-the-lake);
}

.emphasis {
  color: var(--tcimpidis-cool-shower);
}

.pitch {
  order: 3;
  font-family: var(--portfolio-font-family);
  margin-top: 5%;
  padding: 0 20% 2% 5%;
  font-size: var(--portfolio-base-text);
  color:var(--tcimpidis-dusk-on-the-lake);
}
