

.heading {
  composes: title from '../../app/layout.module.css'
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.contact {
  composes: display_name from '../../app/layout.module.css'
}