.title_container {
  composes: heading_container from '../layout.module.css';
}

.title {
  composes: heading from '../layout.module.css';
}

.container { 
  @media only screen and (max-width: 1024px) {
    width: 100%;
    padding: 0;
    gap: 3rem 0;
  }
  gap: 3rem 2rem;
  padding: 2rem 6rem;
  background-image: linear-gradient(var(--tcimpidis-brunch-with-friends), var(--tcimpidis-sweet-nothings));
}

.heading {
  composes: title from '../layout.module.css';
  text-align: right;
  margin-bottom: 2rem;
  color: var(--tcimpidis-brunch-with-friends);
  padding-bottom: 2rem;
  opacity: .9;
} 

.background {
  background-color: var(--tcimpidis-brunch-with-friends);
}
