.container { 
  display: flex;
  flex-direction: column;
  gap: 3rem 2rem;
  padding: 2rem 6rem;
  background-color: var(--tcimpidis-brunch-with-friends);
}

.container_odd { 
  display: flex;
  flex-direction: column;
  gap: 3rem 2rem;
  padding: 2rem 6rem;
  background-image: linear-gradient(var(--tcimpidis-sweet-nothings), var(--tcimpidis-sea-foam));
}

.title_container {
  background-image: linear-gradient(var(--tcimpidis-sea-foam), var(--tcimpidis-cool-shower));
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  background: linear-gradient(var(--tcimpidis-brunch-with-friends), var(--tcimpidis-sweet-nothings));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 52px;
  font-family: 'lobster';
  text-transform: uppercase;
  font-weight: 700;
}