.container { 
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem 1rem 0;
  border: solid 1px var(--tcimpidis-sweet-nothings);

}

.display_name {
  composes: display_name from '../../app/layout.module.css';
  text-transform: capitalize;
  font-weight: 700;
  padding-left: 1rem;
  padding-bottom: .25rem;
  margin-bottom: .5rem;
  border-bottom: solid 1px var(--tcimpidis-sweet-nothings);
}

.item {
  padding: .25rem 0 .25rem 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}

.label {
  composes: label from '../../app/layout.module.css';
  color: var(--tcimpidis-dusk-on-the-lake);
}

.text {
  composes: detail from '../../app/layout.module.css';
  text-align: right;
  width: 70%;
}

.project_text {
  display: flex;
  flex-direction: column;
}

.project_link {
  gap: .1rem 0;
  font-size: .7rem;
  font-weight: 600;
  text-align: right;
}

.summary {
  display: flex;
  flex-direction: column;
}

.summary_label {
  padding-bottom: .25rem;
  margin-bottom: .5rem;
  margin-left: 1rem;
  border-bottom: solid 1px var(--tcimpidis-sweet-nothings);
}

.summary_text {
  composes: detail from '../../app/layout.module.css';
  padding-left: 1.25rem;
  overflow-wrap: break-word;
  overflow: hidden;
}