:root {
  --tcimpidis-mean-mug-rgb: 14, 17, 20;
  --tcimpidis-dusk-on-the-lake: #64758b;
  --tcimpidis-sweet-nothings: #CAB0E1;
  --tcimpidis-cool-shower: #71A5E8;
  --tcimpidis-brunch-with-friends: #f8f0fc;
  --tcimpidis-sea-foam:#A1D9E6;
  --tcimpidis-plain-jane:#E3FBFF;
  --tcimpidis-sea-scape: #2990A6;
  --tcimpidis-dark-beginnings: #4F47B2;
  --tcimpidis-too-hot: #EF1B68;
  --tcimpidis-font-family: lobster;
  --tcimpidis-image-border-radius: 0.75rem;
  --tcimpidis-input-border-radius: 0.4rem;
}

body {
  margin: 0;
  font-family: open-sans-regurlar;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


a {
  color: var(--tcimpidis-sea-scape);
}
a:visited{
  color: var(--tcimpidis-dark-beginnings);
  opacity: 2;
}