.container {
  @media only screen and (max-width: 1280px) {
    width: 100%;
  }
  display: flex;
  flex-direction: column;
  gap: 1rem 0;
  width: 50%;
}

.loading_container {
  composes: container;
  height: 30vh;
  align-items: center;
  justify-content: center;
}

.name_box {
  @media only screen and (max-width: 1280px) {
    flex-direction: column;
  }
  display: flex;
  flex-direction: row;
  gap: 2rem;
  width: 100%;
  justify-content: space-between;
}

.input_box {
  position: relative;
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  width: 100%;
  gap: .25rem;
}

.input_label_text {
  composes: label from '../../app/layout.module.css';
  color: var(--tcimpidis-dusk-on-the-lake);
}

.input {
  font-weight: 600;
  color: var(--tcimpidis-dusk-on-the-lake);
  padding: .7rem .5rem;
  border-radius: var(--tcimpidis-input-border-radius);
  box-shadow: .05rem .05rem .15rem var(--tcimpidis-dusk-on-the-lake);
  background-color: var(--tcimpidis-brunch-with-friends);
  outline: none;
  border: none;
}

.input:focus {
  outline: 1px solid var(--tcimpidis-sea-scape);
}

.input:active {
  outline: 1px solid var(--tcimpidis-sea-scape);
}

.textbox {
  height: 5rem;
}


.error_border {
  border: 1px solid var(--tcimpidis-too-hot);;
}

.error_box {
  position: absolute;
  bottom: -1.125rem;
  left: 0;
}

.error_message {
  color: var(--tcimpidis-too-hot);
  font-size: 0.875rem;
}

.button {
  @media only screen and (max-width: 1280px) {
    width: 100%;
  }
}

.small_spinner {
  margin: 0;
  padding: 1rem 1.75rem;
  transform: scale(0.4);
}