.container {
  position: relative;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: var(--tcimpidis-brunch-with-friends);
  height: 60px;
  border-bottom: 3px solid var(--tcimpidis-cool-shower);
  position: relative;
}

.logo {
  text-align: left;
  padding-left: 1rem;
  outline: none;
  border: none;
  background-color: var(--tcimpidis-brunch-with-friends);
}

.logo:hover {
  cursor: pointer;
}

.link_box {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 0 4rem;
  padding-right: 4rem;
}

.button {
  align-self: flex-end;
  width: 85%;
  margin-left: 2rem;
  background: none;
  border: none;
  font-family: var(--portfolio-font-family);
  font-size: var(--portfolio-base-text);
  font-weight: bold;
  color:var(--tcimpidis-dusk-on-the-lake);
  cursor: pointer;
  position: relative; 
  z-index: 2;
  text-transform: uppercase;
  white-space: nowrap;
} 

.button:after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  opacity: 0;
  z-index: -1;
  background-image: linear-gradient(var(--tcimpidis-brunch-with-friends)12px, var(--tcimpidis-sea-foam)12px);
}

.button:hover {
  &::after{
    width: 95%;
    opacity: 1;
    transition: 0.3s;
    -webkit-transition: 0.3s;
  }
}

.button:active {
  color: var(--tcimpidis-cool-shower);
}

.shape_bottom {
  position: absolute;
  width: 100%;
  top: -px;
  z-index: 10;
}

.shape {
  fill: var(--tcimpidis-sweet-nothings);
}

