.container {
  display: flex;
  flex-direction: row;
  background-color: var(--tcimpidis-sea-foam);
  padding: 2rem 6rem 6rem 6rem;
  border-top: 3px solid var(--tcimpidis-cool-shower);
  gap: 0 4rem;
}

.summary_box {
  display: flex;
  flex-direction: row;
}

.summary {
  padding: 0 1rem;
  composes: content from '../../app/layout.module.css';
  width: 60%;
}

.social_box {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  align-items: flex end; 
  margin-top: 9rem;
  gap: 2rem;
}