.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 1.5rem;
}

.heading {
  composes: subtitle from '../../app/layout.module.css';
  text-align: right;
}

.summary {
  composes: content from '../../app/layout.module.css';
  padding: .75rem .5rem;
}