.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.heading {
  composes: title from '../../app/layout.module.css';
  text-align: right;
  margin-bottom: 2rem;
  color: var(--tcimpidis-brunch-with-friends);
  padding-bottom: 2rem;
  opacity: .9;
} 

