.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.heading {
  margin-right: 1.4rem;
  font-size: 2.5rem;
  font-weight: 700;
  text-align: right;
  color: var(--tcimpidis-brunch-with-friends);
  border-bottom: 3px solid var(--tcimpidis-brunch-with-friends);
  font-family: lobster;
  text-transform: uppercase;
  opacity: .8;
} 

