.container { 
  padding: 0 3rem 5rem 3rem;
}

.project {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.heading {
  margin-top: 2rem;
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--tcimpidis-dusk-on-the-lake);
  text-transform: capitalize;
} 

.image_box {
  display: flex;
  flex-direction: column;
  border-radius: 0.75rem;
  margin: 3rem 0;
  width: 100%;
  max-width: 40vw;
}

.detail_box {
  display: flex;
  flex-direction: column;
  width: 31rem;
  gap: 1.5rem;
  margin-top: 3rem;
}

.detail_box:nth-child(odd) {
  align-items: flex-start;
}

.tech_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: .5rem 0;
}



.icon_label {
  font-family: lobster;
  font-weight: 600;
  font-size: 1rem;
  color: var(--tcimpidis-dusk-on-the-lake);
  padding-bottom: .5rem;
}

.tech {
  display: flex;
  flex-direction: row;
  padding-left: .5rem;
  flex-wrap: wrap;
  gap: .5rem;
  width: 60%;
}

.tech_item {
  position: relative;
  cursor: pointer;
}

.active_tech {
  font-size: 12px;
  padding: .25rem .75rem;
  font-weight: 500;
  white-space: nowrap; 
  right: 0;
  bottom: -5;
  z-index: 4;
  position: absolute;
  border-radius: 4rem;
  border: solid 1px var(--tcimpidis-cool-shower);
  background-color: var(--tcimpidis-sea-foam);
  opacity: .9;
  color: var(--tcimpidis-dusk-on-the-lake);
}

.text {
  margin-top: .5rem;
  margin-left: 2rem;
  font-size: .9rem;
  font-weight: 600;
  color: var(--tcimpidis-dusk-on-the-lake);
  width: 90%;
  max-height: 50vh;
  overflow: auto;
}

.text::-webkit-scrollbar-track {
  border: 1px solid var(--tcimpidis-cool-shower);
  padding: 2px 0;
  background-color: var(--tcimpidis-sea-foam);
}

.text::-webkit-scrollbar {
  width: 10px;
}

.text::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--tcimpidis-dusk-on-the-lake);
  border: 1px solid var(--tcimpidis-sea-foam);
}

.url_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: .25rem;
}


.tech_container:nth-child(odd){
  align-items: flex-end;
}

.link_box {
  display: flex;
  flex-direction: column;
  margin-left: .5rem;
  gap: .15rem;
}