.container { 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.heading {
  margin-top: 2rem;
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--tcimpidis-dusk-on-the-lake);
  text-transform: capitalize;
} 

.image_box {
  display: flex;
  flex-direction: column;
  border-radius: 0.75rem;
  width: 31rem;
  margin-top: 3rem;
}

.icon_box {
  display: flex;
  flex-direction: column;
  width: 31rem;
  gap: 1.5rem;
  margin-top: 3rem;
}