body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --portfolio-text: rgb(63, 93, 150);
  --portfolio-background: rgb(228, 233, 255);
  --portfolio-font-emphasis: rgb(88, 139, 187);
  --portfolio-header-background: rgb(247, 240, 252);
  --portfolio-button-gradient-end:rgb(207, 230, 252);
  --portfolio-font-family: Lato,Helvetica Neue,helvetica,sans-serif;
  --portfolio-xl-text: 54px;
  --portfolio-base-text: 17px;
}

@mixin ripple() {
  opacity: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: '';
  height: 100%;
  width: 100%;
  background: #0460CC;
  border-radius: 100%;
  animation-name: ripple;
  animation-duration: 3s;
  animation-delay: 0;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(.65,0,.34,1);
  z-index: -1;
}